* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: #FED3E2 1px solid;
    z-index: 99;
}

.icon-wrapper {
    padding: 30px;
}

.sidebar i{
    color: #5E00FF;
    font-size: 25px;
}

.container {
    background-color: #FDF8F4;
    flex: 12;
    height: 100%;
}

.container-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container-left {
    flex: 1;
    border-bottom: #FED3E2 1px solid;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-wrapper {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collections {
    flex: 2;
    display: flex;
}

.title {
    line-height: 1.1em;
    font-size: 84px;
    color: #2E0074;
    font-weight: bolder;
    transform-origin: left;
}

.text {
    width: 400px;
}

.outlined {
    color: transparent;
    -webkit-text-stroke: 1px #2E0074;
    opacity: 0.8;
}

.button {
    margin-top: 40px;
    border: #FF900A 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #FF900A;
    height: 20px;
    width: 120px;
    cursor: pointer;
    font-size: 1em;
}

.collection {
    flex: 1;
    position: relative;
    border-right: #FED3E2 1px solid;
}

.one {
    background-color: #E3E6FF;
}

.two {
    background-color: #FFE6E2;
    border-right: #FED3E2 1px solid;
}

.collection img {
    position: absolute;
    height: 150px;
    right: 50px;
    top: 50%;
    transform: translate(0%, -50%);
}

.collection p{
    position: absolute;
    font-size: 18px;
    color: #2E0074;
    opacity: 0.5;
    left: 40px;
    top: 10%;
}

.collection h3{
    position: absolute;
    font-size: 32px;
    color: #2E0074;
    left: 40px;
    top: 20%;
}

.collection h6{
    position: absolute;
    font-size: 16px;
    color: #2E0074;
    opacity: 0.7;
    bottom: 15%;
    left: 40px;
    text-decoration: underline;
    cursor: pointer;
}

.content {
    flex: 5;
    width: 100%;
    position: relative;
    border-left: #FED3E2 1px solid;
}

.background {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #FFEBDB;
    right: 0;
    top: 0;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-bottom {
    flex: 2;
    display: flex;
}

.social {
    flex: 1;
    border-right: #FED3E2 1px solid;
    border-left: #FED3E2 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2E0074;
}

.social p {
    font-family: 'Poppins';
    font-weight: bold;
}

.indicator {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 8px;
    width: 8px;
    background-color: #ECDEF5;
    margin: 0 8px;
}

.active {
    background-color: #2E0074;
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ECDEF5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

.rect {
    position: absolute;
    height: 40px;
    width: 80px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    cursor: pointer;
    z-index: 99;
    background-color: #ECDEF5;
}

.rect i {
    color: #2E0074;
}

.prev {
    bottom: 0%;
    right: 0px;
}

.image-wrapper img {
    max-height: 500px;
}

#toggle-display-prev {
    display: none;
}